@model IEnumerable<AcademicStaff.Models.Entities.Publication>

@using System.Text.RegularExpressions;
@helper Truncate(string input, int lenght)
{
    if (input.Length <= lenght)
    {
        @Html.Raw(input)
    }
    else
    {
        @Html.Raw(input.Substring(0, input.IndexOf(" ", lenght)).ToString())
    }
}

@{
    ViewBag.Title = "Publication";
}




<!-- Start popular-courses Area -->

<section class="popular-courses-area section-gap courses-page">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">LATEST PUBLICATIONS</h1>

                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="single-popular-carusel col-lg-4 col-md-6">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            @if (item.Image != null)
                            {
                                <img class="img-fluid" src="@Url.Content(item.Image)" alt="" style="width:300px; height:200px;">

                            }
                            else
                            {
                                <img class="img-fluid" src="~/Content/AdminLTE/dist/img/bg-6.jpg" alt="" style="width:300px; height:200px;">
                            }

                            @*<img class="img-fluid" src="~/Content/AdminLTE/dist/img/bg-6.jpg" alt="">*@

                        </div>

                    </div>
                    <div class="details">
                        <p>Publish Date: @item.DateCreated.ToString("dd MMM yyyy") </p>

                        <a href="@Url.Action("PubDetails", "Home", new { id = item.Id })">

                            <h4>
                                @item.Title
                            </h4>
                        </a>

                        @*<p style="text-align:justify;">
                            @{

                                var noHtml = Regex.Replace(item.Abstract, @"<[^>]*(>|$)|&nbsp;|&zwnj;|&raquo;|&laquo;", string.Empty).Trim();
                                item.Abstract = noHtml;
                            }

                            @Html.Raw(Truncate(noHtml, 200))
                        </p>*@
                        <a href="@Url.Action("PubDetails", "Home", new { id = item.Id })" class="genric-btn info circle text-uppercase mx-auto"> Details </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- End popular-courses Area -->
