@model IEnumerable<AcademicStaff.Models.Entities.Report>


@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_AreaLayout.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        <div class="box" style="padding:7px;">
            <div class="box-header" style="margin-bottom:15px;">
                <h3 class="box-title"><i class="fa fa-fw fa-file-text-o"></i> Task Management</h3>

                @if (TempData["success"] != null)
                {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @TempData["success"]
                    </div>
                }

            </div>


            <div class="box-body">
                <div class="btn-group pull-right">

                    @Html.ActionLink("Create Task", "CreateTask", null, new { @class = "btn btn-primary" })
                </div>

            </div>

            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table id="example1" class="table table-bordered table-hover" border="1">

                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Staff Name</th>
                            <th>Task</th>
                            @*<th>Task Discription</th>*@
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 0;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @{ sno++; }
                                    @sno
                                </td>
                                @*<td>@Html.DisplayFor(modelItem => item.Profile.Surname)  @Html.DisplayFor(modelItem => item.Profile.FirstName)  @Html.DisplayFor(modelItem => item.Profile.OtherName)  </td>*@
                                <td>@item.Profile.Fullname</td>
                                <td>@item.Task.TaskTitle</td>
                                @*<td>@Html.Raw(item.TaskDiscription)</td>*@
                                <td>@item.Task.StartDate.ToString("ddd dd MMM, yyyy")</td>
                                <td>@item.Task.EndDate.ToString("ddd dd MMM, yyyy")</td>

                                <td>

                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            Action
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li class="text-color-success">@Html.ActionLink("Edit", "EditTask", new { id = item.TaskId }, null)</li>
                                            <li class="text-color-success">@Html.ActionLink("Details", "TaskDetails", new { id = item.TaskId }, null)</li>
                                            <li class="text-color-success">@Html.ActionLink("Delete", "DeleteTask", new { id = item.TaskId }, null)</li>


                                        </ul>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>




@section Style {

    <link rel="stylesheet" href="~/Content/AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

@section Scripts {
    <!-- DataTables -->
    <script src="~/Content/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

}

@section Scripts2 {
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}






