@model AcademicStaff.Models.Entities.Report

@{
    ViewBag.Title = "EditReport";
    Layout = "~/Views/Shared/_AreaLayout.cshtml";
}


<div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-xs-12 col-sm-10">
        <div class="box box-default">
            <div class="box-header with-border">

                <h3 class="box-title">Edit Report</h3>

                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @TempData["error"]
                    </div>
                }
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5 col-xs-10 col-sm-10">
                        <div class="table-responsive">
                            <table class="table table-success table-bordered" style="background-color:#3c8dbc; color:#ffffff;">

                                <tr>
                                    <th>STAFF NAME</th>
                                    <td>@ViewBag.task.Profile.Fullname</td>
                                </tr>
                                <tr>
                                    <th>TASK</th>
                                    <td>@ViewBag.task.Task.TaskTitle</td>
                                </tr>
                                @*<tr>
                                <th>TASK DISCRIPTION</th>
                                <td>@Html.Raw(ViewBag.task.Task.TaskDiscription)</td>
                            </tr>*@
                                <tr>
                                    <th>START DATE</th>
                                    <td>@ViewBag.task.Task.StartDate</td>
                                </tr>
                                <tr>
                                    <th>END DATE</th>
                                    <td>@ViewBag.task.Task.EndDate</td>
                                </tr>
                                <tr>
                                    <th>DATE SUBMITTED</th>
                                    <td>
                                        @ViewBag.task.DateReported
                                    </td>
                                </tr>

                                <tr>
                                    <th>DATE MODIFIED</th>
                                    <td>
                                        @ViewBag.task.DateModified
                                    </td>
                                </tr>

                                <tr>
                                    <th>STATUS</th>
                                    <td>@ViewBag.task.TaskStatus</td>
                                </tr>

                                <tr>
                                    <th>COMMENT</th>
                                    <td>
                                        @Html.Raw(ViewBag.task.Comment)
                                    </td>



                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-body">

                <div class="container-fluid">
                    <h3 style="font-weight:bold">Task Description</h3>
                    <hr style="border:1px solid #000000" />
                    <div class="" style="max-height:600px;overflow:scroll; font-size:20px">
                        @Html.Raw(ViewBag.task.Task.TaskDiscription)


                    </div>
                </div>
            </div>
            @using (Html.BeginForm("EditReport", "TaskPanel", FormMethod.Post, new { @class = "", enctype = "multipart/form-data", area = "Staff" }))
            {
                @Html.AntiForgeryToken()

                <div class="box-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.TaskId)
                    @Html.HiddenFor(model => model.ProfileId)
                    @Html.HiddenFor(model => model.DateReported)
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.Comment)
                    @Html.HiddenFor(model => model.TaskStatus)



                    <h3 style="font-weight:bold">Report</h3>
                    <div class="form-group">

                        <div class="">
                            <textarea class="textarea" placeholder="Place some text here" name="Content" id="mytextarea" style="width: 100%; height: 400px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">  @Html.Raw(ViewBag.task.Content) </textarea>

                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="javascript: history.back()" class="btn btn-default">Cancel</a>
                </div>

            }

        </div>
        <!-- /.box 
    </div>
    <!-- /.col -->


    <div class="col-md-1 col-sm-1"></div>
        </div>

</div>
@section Style
                                            {

    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
}

@section Scripts
  {
    <!-- DataTables -->
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/AdminLTE/bower_components/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Content/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

}

@section Scripts2
 {

    <script src="~/Content/AdminLTE/tinymce/tinymce.min.js"></script>
    @*<script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>*@
    <script>

        tinymce.init({
            selector: 'textarea',
            height: 500,
            theme: 'modern',
            plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools codesample'
            ],
            toolbar1: 'insertfile undo redo | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
            image_advtab: true,
            templates: [
                { title: 'Test template 1', content: 'Test 1' },
                { title: 'Test template 2', content: 'Test 2' }
            ],
            content_css: [
                'css?family=Lato:300,300i,400,400i',
                'css/codepen.min.css'
            ]
        });
       //tinymce.init({
       // selector: '#mytextarea'
       //            });
    </script>                                     
    }
